<!-- src/app/components/dish-list/dish-list.component.html -->

<h2>Dish List</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let dish of dishes">
    <td>{{ dish.id }}</td>
    <td>{{ dish.name }}</td>
    <td>{{ dish.description }}</td>
    <td>{{ dish.price }}</td>
    <td>
      <button (click)="deleteDish(dish.id!)">Delete</button>
      <a [routerLink]="['/edit-dish', dish.id]">Edit</a>
    </td>
  </tr>
</table>
<a routerLink="/add-dish">Add New Dish</a>

<div class="dish-list-container">
  <header class="header">
      <button class="back-btn">
          <i class="fas fa-arrow-left"></i>
      </button>
      <img src="/backend/src/assets/images/los-gourmet-logo.png" alt="Los Gourmet" class="logo">
      <div class="status-bar">INICIANDO CAIXA DA CATARINA</div>
  </header>

  <div class="cart-items">
      <div class="cart-item">
          <img src="/backend/src/assets/images/hamburger.png" alt="Hamburger" class="item-image">
          <div class="item-details">
              <h3>Hamburger</h3>
              <p class="price">R$ 18.90</p>
          </div>
          <button class="add-to-cart">Adicionar</button>
      </div>

      <div class="cart-item">
          <img src="/backend/src/assets/images/chopp.png" alt="Chopp" class="item-image">
          <div class="item-details">
              <h3>Chopp 02 Un</h3>
              <p class="price">R$ 18.00</p>
          </div>
          <button class="add-to-cart">Adicionar</button>
      </div>

      <div class="cart-item">
          <img src="/backend/src/assets/images/batata.png" alt="Porção de Batata" class="item-image">
          <div class="item-details">
              <h3>Porção de Batata</h3>
              <p class="price">R$ 16.90</p>
          </div>
          <button class="add-to-cart">Adicionar</button>
      </div>
  </div>

  <div class="cart-total">
      <p>Total: R$ 38.90</p>
  </div>
</div>