<!-- src/app/components/dish-list/dish-list.component.html -->

<h2>Dish List</h2>
<div>
<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor="let dish of dishes">
    <td>{{ dish.id }}</td>
    <td>{{ dish.name }}</td>
    <td>{{ dish.description }}</td>
    <td>{{ dish.price }}</td>
    <td>
      <button class="delete" (click)="deleteDish(dish.id!)">Delete</button>
      <a class="edit" [routerLink]="['/edit-dish', dish.id]">Edit</a>
    </td>
  </tr>
</table>
<a class="newDish" routerLink="/add-dish">NOVO ITEM</a>

</div>